/* Home.module.css */
.container {
  width: 100%;
  padding: 0;
  margin: 0;
 color: #fff;
}
@font-face {
	font-family: 'fat';
	src: url(traishunt/public/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
  }
.cuerpo {
  text-align: center;
  padding: 20px;
}
.contenedordetexto{
  width: 10%;
  margin-left: 27%;
  text-align: start;
  line-height: 90%;
}
.contenedorcontador {
  border-radius: 10px;
  border: 2px solid #70db70; /* Cambia el color a verde claro */
  width: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin-left: 27%;
  font-family: 'fat';

}
@media (max-width: 786px) {
  .contenedorcontador {
    width: 100%;
    margin-left: 0; /* Ajusta el margen si es necesario */
  }
  .contenedordetexto{
    width: 100%;
    margin-left: 0px;
    text-align: start;
    line-height: 90%;
  }
}
h1 {
  font-size: 18px;
  color: #f8f8f8;
  margin-bottom: 20px;
  font-family: 'fat';
}

p {
  font-size: 18px;
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

button.p-button {
  background-color: #a4ff00;
  border: none;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.dots {
  display: flex;
  flex-direction: column; /* Alinea los puntos y el texto en columna */
  justify-content: center;
  align-items: center; /* Centra los puntos horizontalmente */
  text-align: center;
  margin: 20px 0;
  gap: 10px; /* Espacio entre puntos y texto */
}

.dots p {
  text-align: center; /* Centra el texto horizontalmente */
  max-width: calc(100% - 40px); /* Ajusta el ancho máximo */
  margin: 0 auto; /* Centra el texto */
  font-size: 16px; /* Tamaño de fuente */
  line-height: 1.5; /* Interlineado */
  color: #fff; /* Color del texto */
}

.dots span {
  display: block; /* Cambia a block para que los puntos queden en columna */
  width: 8px;
  height: 8px;
  background-color: rgb(102, 255, 0); /* Color del punto */
  border-radius: 50%;
  margin: 10px 0; /* Espacio entre puntos */
}

.countdown {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center;
  font-size: 44px;
  color: rgb(253, 253, 253); /* Centra los elementos verticalmente dentro de cada div */
}
.countdown p {
  color: #a4ff00;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.countdown div {
  text-align: center;
  margin: 0 10px; /* Añade un margen horizontal para separar los elementos */
}



a {
  color: #a4ff00;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
.menubar {
  background: transparent; /* Fondo transparente */
  display: flex;
  justify-content: flex-end; /* Alinea los items a la derecha */
  border-color: #283314;
}

/* Asegura que los elementos del menú se mantengan en una sola fila */
.menubar .p-menubar-root-list {
  flex-direction: row; /* Asegura que el menú esté en una fila horizontal */
}