/* Home.module.css */
.container {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh; /* Alto completo de la pantalla */
  background-color: #093763; /* Color de fondo base */
  
  background-image: 
    linear-gradient(to top left, rgb(107, 76, 201), rgba(113, 85, 196, 0.17) 50%), /* Gradiente */
    url('niebla 1.png'); /* Imagen de fondo */

  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repetición */
  background-size: cover; /* Imagen cubre todo el contenedor */
  color: #fff;


  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
 
}

.container2{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 1447px; /* Alto completo de la pantalla */
  background-color: #093763; /* Color de fondo base */
  
  background-image: 
   
    url('2.png'); /* Imagen de fondo */

  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repetición */
  background-size: cover; /* Imagen cubre todo el contenedor */
  color: #fff;
}
.overlayimage {
  position: absolute;
  left: 15%; /* Despega la imagen del borde izquierdo */
  transform: translateY(10%); /* Ajusta la posición para centrar correctamente */
  width: 99px; /* Controla el tamaño de la imagen */
  height: auto;
  z-index: 0; /* Asegura que esté encima del fondo */

}
.bloquemap {
  position: relative;
  width: 78%;
  height: 500px;
  margin-left: 11%; /* Centra horizontalmente el contenedor */
  background: linear-gradient(to bottom, #0B336FE5 0%, #040F21E5 110%);
  border-radius: 10px;

  display: flex;             /* Activa Flexbox */
  flex-direction: column;    /* Coloca los elementos en columna (imagen arriba, texto abajo) */
  justify-content: center;   /* Centra verticalmente el contenido dentro del contenedor */
  align-items: center;       /* Alinea los elementos horizontalmente al centro */
  text-align: center;        /* Asegura que el texto esté centrado dentro del párrafo */
}

.bloquemap img {
  width: 60%;
  margin-bottom: 20px; /* Espacio abajo */
}


.bloquemap p {
  margin-top: 15px;       /* Espacio entre la imagen y el texto */
  margin-left: 8%;        /* Espacio a la izquierda */
  margin-right: 8%;       /* Espacio a la derecha */
  padding: 0 20px;         /* Evita que el texto toque los bordes */
  display: block;          
  color: #f8f8f8;          
  font-size: 140%;         /* Aumenta el tamaño del texto */
}
.bloquemap span {
          
  color: #04F1A9;          
}
/* Estilo del contenedor del slider */
.slidercontainer {
  width: 75%;
  margin: 50px auto;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  overflow-y: hidden; /* Evita el desplazamiento vertical */
  display: flex;
  align-items: center;
  scrollbar-width: thin; /* Estilo para navegadores Firefox */
  scrollbar-color: #04F1A9 transparent;
  z-index: 3; /* Color para la scrollbar en Firefox */
}

/* Estilo para la barra de desplazamiento en navegadores WebKit (Chrome, Safari, Edge) */
.slider-container::-webkit-scrollbar {
  height: 8px;
  z-index: 3; /* Altura de la barra de desplazamiento */
}

.slider-container::-webkit-scrollbar-thumb {
  background-color: #131313; /* Color del scrollbar */
  border-radius: 10px;
  z-index: 3;
}

.slider-container::-webkit-scrollbar-track {
  background-color: transparent; 
  z-index: 3;/* Fondo de la barra de desplazamiento */
}
.letrafooter{
  font-size:medium ;
margin-left: 10%;
  margin-top: 2%;
  color: #07EFBD;
  text-align: center;    
  max-width: 80%;     
}
/* Slider que contiene las cards */
.slider {
  display: flex;
  gap: 15px;
  z-index: 3;
}

/* Estilo de cada card */
.card {
  min-width: 351px;
  height: 491px;
  background-color: #101A3E;
  color: white;
            /* Activa Flexbox */
  flex-direction: column;    /* Coloca los elementos en columna (imagen arriba, texto abajo) */
  justify-content: start;  
  box-shadow: 0 1px 10px rgba(36, 198, 213, 0.562);
  font-size: 1.4rem;
  border-radius: 10px;
  z-index: 3; 
}
.card h1 {
  margin-left: 10%;
  font-weight: bolder;
  font-size: 120%;
  text-shadow: 1px 1px 0px rgb(255, 255, 255), 
  -1px 1px 0px rgba(255, 255, 255, 0.203), 
  1px -1px 0px rgba(255, 255, 255, 0), 
  -1px -1px 0px rgba(255, 255, 255, 0);
  margin-bottom: 5px; /* Ajusta el margen inferior */
}
.card h6 {
  margin-top: 5%; /* Ajusta el margen superior */
  margin-left: 10%; 
  color: #04F1A9;
  font-weight:600;
  font-size: 65%;
  margin-bottom: auto;
}
.card h5 {
  margin-top: 2px; /* Ajusta el margen superior */
  margin-left: 10%; 
  color: #04F1A9;
  font-weight:600;
  margin-bottom:-10px;
}
.card p {
  font-size: medium;
  margin-left: 10%; 
  color: #ffffff;
  font-weight:100;
  text-align: start;
max-width: 80%;
font-size: 60%;
margin-top: auto;
}
.card img{
  margin-left: 8%;
  margin-top: 0px;
}
.custombutton {
  background-color: #2de6b5;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width:80%;
  margin-bottom: 1%;
}

.buttoncontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.buttoncontent span {
 margin-left: 10%;
 font-size: medium;
  width: 80%;
}
.phase {
  font-size: 12px;
  line-height: 1.2;
  text-align: start;
}
.value{
  background-color: #04F1A9;
  width:12%;
  border-radius: 20%;
}
.phase span {
  font-size: 12px;
  color: #444;
  
}

.divider {
  width: 2px;
  height: 40px; /* Ajusta la altura de la línea */
  background-color: #000; /* Color de la línea */
  margin: 0 10px; /* Espaciado a los lados */
}
.CoinGecko{
  color: #04F1A9;
  font-weight: 900;
}
.tokens {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.tokens::after {
  
  display: block;
  font-size: 12px;
  font-weight: normal;
}

@font-face {
	font-family: 'fat';
	src: url(traishunt/public/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
  }
.cuerpo {
  padding: 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.contenedordetexto{
  margin-left:10%;
  text-align: start;
  line-height: 90%;
}
.contenedorcontador {
  border-radius: 10px;
  width: 80%;
  margin-bottom: 0%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin-left: 10%;
  font-family: 'fat';
  background-color: #060C18;
  margin-bottom: -5%;
  position:relative; z-index:3;
   opacity:1}
.cuerpo img{
  margin-left: 10%;
  width: 50%;
}
.cuerpo p{
  text-align: start;
  width: 30%;
  margin-left: 10%;
}

h1 {
  font-size: 18px;
  color: #f8f8f8;
  margin-bottom: 20px;
  font-family: 'fat';
}

p {
  font-size: 22px;
  margin-top: 10px;
  color: #07EFBD;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
button{
  background-color: #07EFBD;
  margin-left: 10%;
  color: #060C18;
  font-size: 140%;
  padding-inline-start: 3%;
  padding-inline-end: 3%;

}
button.p-button {
  background-color: #07EFBD;
  border: none;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}



.countdown {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center;
  font-size: 44%;
  color: rgb(253, 253, 253); /* Centra los elementos verticalmente dentro de cada div */
}
.countdown p {
  color: #09e3b5;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.countdown span {
  color: #ffffff;
  font-size: 5vw;
  font-weight: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.countdown div {
  text-align: center;
  margin: 0 10px; /* Añade un margen horizontal para separar los elementos */
}
a {
  color: #a4ff00;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
.menubar {
  background: transparent; /* Fondo transparente */
  display: flex;
  justify-content: flex-end; /* Alinea los items a la derecha */
  border-color: #283314;
}

/* Asegura que los elementos del menú se mantengan en una sola fila */
.menubar .p-menubar-root-list {
  flex-direction: row; /* Asegura que el menú esté en una fila horizontal */
}
.container3 {
  background-image: 
    linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #0bebc2bf),
    url('./fondo 3 1.png'); /* Asegúrate de que la ruta de la imagen sea correcta */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repetición */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  height: 1750px; /* Asegúrate de tener una altura definida */
  justify-content: center;   /* Centra verticalmente el contenido dentro del contenedor */
  align-items: center;       /* Alinea los elementos horizontalmente al centro */
  text-align: center;   
}

.container3_1 {
  height: 100vh;
  border-radius: 3%;
  width: 50%;
  background: linear-gradient(to top left,  rgb(87, 47, 168) 5%,#0bebc2);
  margin-left: 25%;
  margin-top: -10%;
  position: absolute;
  justify-content: center;   /* Centra verticalmente el contenido dentro del contenedor */
  align-items: center;       /* Alinea los elementos horizontalmente al centro */
  text-align: center;  
  	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); 
}
.container3_1 img{
  margin-top: 30px;       /* Espacio entre la imagen y el texto */
  padding: 0 40vh;         /* Evita que el texto toque los bordes */
  display: block;          
  color: #f8f8f8;  
  justify-content: center;   /* Centra verticalmente el contenido dentro del contenedor */
  align-items: center;       /* Alinea los elementos horizontalmente al centro */  
  font-size: 140%;   
  margin-bottom: 0px; 
}
.container3_1 span{
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}
.tokencardscontainer {
  display: flex;
  justify-content: space-between;
  gap: 1px; /* Espaciado entre tarjetas */
  padding: 80px;
 
}

.tokencard {
  background-color: #00d2c4;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 32%;
  padding: 20px;
 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon img {

  margin-bottom: 15px;
  padding: 0 6vh;  
}

.content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.content p {
  font-size: 14px;
  color: #000;
}

/* Contenedor del acordeón */
.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Elemento del acordeón */
.accordionitem {
  background-color: #0a0c23;
  border: 2px solid #00e5b4;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

/* Encabezado del acordeón */
.accordionheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #0a0c23;
}

.accordionheader strong {
  color: #ffffff;
}

.tokens {
  color: #00e5b4;
  font-weight: bold;
}

.toggleicon {
  color: #00e5b4;
  transition: transform 0.3s ease;
}

/* Contenido del acordeón */
.accordioncontent {
  padding: 15px 20px;
  background-color: #0a0c23;
  border-top: 1px solid #00e5b4;
  display: none;
}

.accordioncontent p {
  margin: 0;
  color: #a6b0d3;
}

/* Estilos para el acordeón abierto */
.accordionitem.open .accordioncontent {
  display: block;
}

.accordionitem.open .toggleicon {
  transform: rotate(180deg);
}
/* FIN Contenedor del acordeón */
.container3_2{

  position:absolute;
  width: 100%;
 height: 100%;
   justify-content: center;   /* Centra verticalmente el contenido dentro del contenedor */
  align-items: center;       /* Alinea los elementos horizontalmente al centro */
  text-align: center;    
}
.container3_2 img{

width: 50%;
   justify-content: center;   /* Centra verticalmente el contenido dentro del contenedor */
  align-items: center;       /* Alinea los elementos horizontalmente al centro */
  text-align: center;    
}
.vectorfull{
  margin-top: 40%;
}

/*Banner*/
.banner {
  top: 50%;
  display: flex;
  background-color: #0f1e36;
  border-radius: 15px;
  padding: 30px;
  width: 80%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10vw;
  height: 59%;
  position: relative;
}

.banner .imageSection {
  flex: 1;
width: 200px;


}

.banner .coupleImage {
  left: -100px;
  width: 500px;
  position: relative;
  
}

.banner .contentSection {
  flex: 2;
  padding-left: 30px;
}

.banner h1 {
  font-size: 32px;
  color: #22ffb3;
  margin-bottom: 10px;
  line-height: 30%;
  text-align: end;
}

.titlepcontent  {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 90%;
  color: #ffffff;
  text-align: end;
}
.titlepcontent2{
  color: #00af89;
  font-size: 17px;
  line-height: 90%;
}
.banner .benefits {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.banner .benefitItem {
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.banner .benefitItem img {
  width: 60px;
  margin-bottom: 10px;
}

.banner .benefitItem h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.banner .ctaButton {
  margin-top: 1%;
  padding: 5px 30px;
  background-color: #22ffb3;
  color: #0d2747;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 20%;
}

.banner .ctabutton:hover {
  background-color: #1cd89d;
}
.container4 {
  background-image: 
      /* Primer gradiente (arriba derecha) */
      linear-gradient(to top right, rgba(255, 255, 255, 0) 50%, #0bebc28a),
      /* Segundo gradiente (arriba izquierda) */
      linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, rgba(128, 0, 255, 0.379)),
      /* Imagen de fondo */
      url('./niebla 1.png'); /* Asegúrate de que la ruta de la imagen sea correcta */
  
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repetición */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  height: 1750px; /* Asegúrate de tener una altura definida */
  display: flex; /* Asegúrate de que el contenedor use flexbox */
  justify-content: center; /* Centra verticalmente el contenido dentro del contenedor */
  align-items: center; /* Alinea los elementos horizontalmente al centro */
  text-align: center;   
}
.walletconection{
  justify-content: center; /* Centra verticalmente el contenido dentro del contenedor */
  align-items: center; /* Alinea los elementos horizontalmente al centro */
  text-align: center;  
}