/* Home.module.css */
.container {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh; /* Alto completo de la pantalla */
  background-color: #093763; /* Color de fondo base */
  
  background-image: 
    linear-gradient(to top left, rgba(113, 85, 196, 0.8), rgba(113, 85, 196, 0) 50%), /* Gradiente */
    url('niebla 1.png'); /* Imagen de fondo */

  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repetición */
  background-size: cover; /* Imagen cubre todo el contenedor */
  color: #fff;
}
.container2{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh; /* Alto completo de la pantalla */
  background-color: #093763; /* Color de fondo base */
  
  background-image: 
    linear-gradient(to top left, rgba(113, 85, 196, 0.8), rgba(113, 85, 196, 0) 50%), /* Gradiente */
    url('niebla 1.png'); /* Imagen de fondo */

  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repetición */
  background-size: cover; /* Imagen cubre todo el contenedor */
  color: #fff;
}
@font-face {
	font-family: 'fat';
	src: url(traishunt/public/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
  }
.cuerpo {
  padding: 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.contenedordetexto{
  margin-left:10%;
  text-align: start;
  line-height: 90%;
}
.contenedorcontador {
  border-radius: 10px;
  width: 80%;
  margin-bottom: 0%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin-left: 10%;
  font-family: 'fat';
  background-color: #060C18;
  margin-bottom: -5%;
  position:relative; z-index:3;
   opacity:1}
.cuerpo img{
  margin-left: 10%;
  width: 50%;
}
.cuerpo p{
  text-align: start;
  width: 30%;
  margin-left: 10%;
}

h1 {
  font-size: 18px;
  color: #f8f8f8;
  margin-bottom: 20px;
  font-family: 'fat';
}

p {
  font-size: 22px;
  margin-top: 10px;
  color: #07EFBD;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
button{
  background-color: #07EFBD;
  margin-left: 10%;
  color: #060C18;
  font-size: 140%;
  padding-inline-start: 3%;
  padding-inline-end: 3%;

}
button.p-button {
  background-color: #07EFBD;
  border: none;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}



.countdown {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center;
  font-size: 44%;
  color: rgb(253, 253, 253); /* Centra los elementos verticalmente dentro de cada div */
}
.countdown p {
  color: #09e3b5;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.countdown span {
  color: #ffffff;
  font-size: 5vw;
  font-weight: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.countdown div {
  text-align: center;
  margin: 0 10px; /* Añade un margen horizontal para separar los elementos */
}
a {
  color: #a4ff00;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
.menubar {
  background: transparent; /* Fondo transparente */
  display: flex;
  justify-content: flex-end; /* Alinea los items a la derecha */
  border-color: #283314;
}

/* Asegura que los elementos del menú se mantengan en una sola fila */
.menubar .p-menubar-root-list {
  flex-direction: row; /* Asegura que el menú esté en una fila horizontal */
}